/* RESET DE ESTILOS PARA NORMALIZAR LOS ESTILOS EN TODOS LOS NAVEGADORES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* HEADER - NAVBAR */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4a261;
}

/* MAIN CONTENT AREA */
main {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    font-size: 14px;
}

.product-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card .product-name {
    margin: 15px 0;
    font-size: 1.2em;
}

.product-card .price {
    font-size: 1.5em;
    color: #e74c3c;
    margin-bottom: 20px;
}

.product-card .btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.product-card .btn:hover {
    background-color: #555;
} 
.t1-hombres{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 330px;
    bottom:490px; ;
}
.t1-mujeres{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 330px;
    bottom:490px; ;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
