/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    text-decoration: none;
    font-size: 1rem;
  }
  
  header nav ul li a i {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s;
  }
  
  header nav ul li a i:hover {
    color: #f9cc00;
  }
  
  /* Sección del producto */
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .product-images {
    flex: 1;
    max-width: 500px;
    text-align: center;
  }
  
  .product-images img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnails .thumbnail {
    width: 80px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.3s, border-color 0.3s;
  }
  
  .thumbnails .thumbnail:hover {
    transform: scale(1.1);
    border-color: #004080;
  }
  
  .product-details {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    text-align: center;
  }
  
  .product-details h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .product-details .price {
    font-size: 1.5rem;
    color: #aadb21;
    margin-bottom: 10px;
  }
  
  .product-details .description {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  #add-to-cart {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #add-to-cart:hover {
    background-color: #f9cc00;
    color: #004080;
  }
  
  /* Pie de página */
  footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  .xd{
    color: #fff;
  }
  